<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="Stylesheet" type="text/css" href='./css/fwiki.css' />
<link rel="Stylesheet" type="text/css" href='./css/show.css' />
<link rel="Stylesheet" type="text/css" href='prettify/prettify.css' />


<script src='js/jquery.js'></script>
<script src='prettify/prettify.js'></script>
<script src='layer/layer.min.js'></script>
<script src='js/index.js'></script>
<!--script src='./fwiki/layout.js'></script-->
<script src='./js/options.js'></script>



<script>
$(document).ready(function(){
//    window.onresize = close_attach_auto;
    DIV_LISTPOST    = $('div#listpost div#list');
    DIV_HEADER      = $('div#header');
    DIV_CLASS       = $('div#class_div');
    DIV_CHAPTER     = $('div#chapter');
    DIV_INDEX       = $('div#index');
    DIV_DUOSHUO     = $('div.ds-thread');



    //DIV_LISTPOST.on('click', 'div', EShowChapter);
    DIV_CLASS.on('click', 'div', ClassShowListPost);
    $('div#class_container h3').click(function(){
        $('div#class_div' ).toggle();
    });


    var path = window.location.pathname;
    if (path[path.length - 1] != '/')
    {
        var t = path.split('/');
        t = t.slice(0, t.length - 1);
        path = t.join('/') + '/';
    }

    URL_PREFIX = path + URL_PREFIX;
    URL_INDEX  = path + URL_INDEX;
    URL_CLASS  = path + URL_CLASS;
    if (getUrlParams().local){
	LOCALHOST = 1;
    }

    var cname = getUrlParams().c;
    if (cname){
        ShowListPost(cname);
    }
    else{
        ShowListPost();
    }
})
</script>



<title>blog of fengidri</title>
</head>
<body>
    <h1 id=title><a href=http://blog.fengidri.me >fengidri</a></h1>
<div id='header'>
kernel, perf, cache
<div id=search>
<form target=_blank action=https://www.google.com.hk/search >
<input id=search name=ie value=UTF-8  type=hidden></input>
<input id=search name=q value=site:blog.fengidri.me  type=hidden></input>
<input id=search name=q ></input>
<input type=submit id=search value=search ></input>
</form>
</div>
</div>

<div id=wrap>
    <div id='class_div'></div>
    <div id='listpost'>
         <div id=yearselect>
         </div>

         <div id=list>
         <ul>
              {% set year = infos[0]['showtime'][0:4] %}

              {% for info in infos %}
                  {% if year != info['showtime'][0:4] %}
                      {% set year = info['showtime'][0:4] %}
                      <br/><hr/><br/>
                  {% endif %}
                  <li>
                      <a href="chapter.html?id={{info['id']}}">
                          <span class=title>{{info['title']}}</span>
                          <span class=time>{{info['showtime']}}</span>
                     </a>
                  </li>
              {% endfor %}
                 <br/><hr/>
         </ul>
         </div>
    </div>
</div>

    <hr />
<div id=buttom>
    <a href=http://github.com/fengidri >Github</a>
    <a href=http://cls.fengidri.me/classmate >classmate</a>
    <a href=http://blog.fengidri.me >Blog</a>
    <br />
    fengidri@yeah.net 手工打造.
    <br />
<a href=http://www.miitbeian.gov.cn/  >粤ICP备15026997号</a>
</div>

</body>

</html>
